H:\Github\search-engine\.vs\search engine\v16\Browse.VC.db
H:\Github\search-engine\.vs\search engine\v16\.suo
.vs/search engine/v16/.suo
.vs/search engine/v16/Browse.VC.db
.vs/search engine/v16/ipch/AutoPCH/cc7896e4364f8d70/SEARCH ENGINE.ipch
.vs/search engine/v16/Browse.VC.db
.vs/search engine/v16/.suo
.vs/search engine/v16/Browse.VC.opendb
