H:\Github\search-engine\.vs\search engine\v16\Browse.VC.db
H:\Github\search-engine\.vs\search engine\v16\.suo
.vs/search engine/v16/.suo
.vs/search engine/v16/Browse.VC.db
.vs/search engine/v16/ipch/AutoPCH/cc7896e4364f8d70/SEARCH ENGINE.ipch
.vs/search engine/v16/Browse.VC.db
.vs/search engine/v16/.suo
.vs/search engine/v16/Browse.VC.opendb
.vs/search engine/v16/ipch/AutoPCH/3b130dc1ecf801e/FILE_HANDLING.ipch
.vs/search engine/v16/ipch/AutoPCH/4253613557ebf482/QUERY_HANDLING.ipch
.vs/search engine/v16/ipch/AutoPCH/b4ebeb60b0286550/SEARCH ENGINE.ipch
.vs/search engine/v16/ipch/AutoPCH/4f5cab2ff87fb3d5/SYSTEM.ipch
